@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap&subset=cyrillic');
@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro/GothamProRegular/GothamProRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro/GothamProBold/GothamProBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro/GothamProMedium/GothamProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro/GothamProLight/GothamProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro/GothamProBlack/GothamProBlack.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.nice-select:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 8px;
    width: 8px;
}

/* header */
.header {
    padding: 45px 0 85px 0;
    background: url('./img/header-bg.png');
    background-size: cover;
    background-position: center;
}
.header__bottom_right {
    display: flex;
    justify-content: flex-end;
}
.header__head {
    margin-top: -160px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top_left {
    display: flex;
    align-items: center;
}
.header__top_select {
    margin-left: 20px;
    z-index: 1;
}
.header__top_select .current {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}
.footer__top_title,
.header__top_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: right;
    color: #fff;
    font-size: 16px;
}
.footer__top_tel,
.header__top_tel {
    font-family: 'Gotham Pro', sans-serif;
    text-align: right;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.header__bottom {
    padding-top: 80px;
    padding-right: 60px;
}
.header__bottom_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.header__title {
    font-size: 60px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
}
.header__desc {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.header-form {
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;
    width: 450px;
}
.header-form__title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
    color: #333333;
    font-size: 34px;
}
.header-form__slider {
    padding-bottom: 16px;
}
.slider__top {
    display: flex;
    justify-content: space-between;
}
.slider__top_summ {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    color: #F8404B;
    font-size: 21px;
    font-weight: 700;
}
.slider__bottom {
    padding: 10px 0;
}
.slider__top_title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    color: #888888;
    font-size: 18px;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 5px solid #fff;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    cursor: pointer;
    box-shadow: -1px 5px 9px -1px rgba(0,0,0,0.75);
    background-color: #F8404B;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
}
.ui-widget.ui-widget-content {
    border-radius: 4px;
    height: 8px;
}
.ui-widget-header {
    border-color: #F8404B;
    background-color: #F8404B;
}
.form-body input {
    display: block;
    width: 100%;
    margin-bottom: 11px;
    background: #F4F4F4;
    border: none;
    padding: 15px;
    border-radius: 3px;
}
.form-body label {
    display: flex;
    cursor: pointer;
    width: fit-content;
    margin: 30px 0;
}
.imitation-checkbox {
    height: 20px;
    width: 20px;
    transition: all .2s linear;
    border-radius: 3px;
    background: #F4F4F4;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imitation-checkbox img {
    transition: all .2s linear;
    opacity: 0;
}
.imitation-checkbox.active img {
    opacity: 1;
}
.imitation-checkbox.active {
    background: #F8404B;
}
.form-body label input {
    display: none;
}
.form-body label span {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.form-body label span b {
    font-family: 'Montserrat', sans-serif;
    color: #f8404b;
    letter-spacing: 0.32px;
}
.form-body button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #F8404B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
}

/* main */
.main {
    padding: 75px 0;
}
.slider-left,
.slider-right {
    z-index: 3;
    display: none;
    height: 100%;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #F8404B;
    position: absolute;
}
.slider-control img {
    width: 9px;
    height: 16px;
}
.main__tabs_item {
    z-index: 1;
}
.main__tabs_item.active {
    z-index: 2;
}
.main__tabs_item div {
    cursor: pointer;
    width: fit-content; 
    color: #333333;
    padding-bottom: 7px;
    font-size: 30px;
    font-weight: 600;
}
.main__tabs_item.active div {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #F8404B;
    color: #F8404B;
}
.main__tabs-conteners {
    padding-top: 80px;
}
.main__tabs-contener {
    display: none;
}
.main__tabs-contener.active {
    display: flex;
}
.step {
    position: relative;
}
.step-num {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #999999;
    font-size: 18px;
    font-weight: 600;
}
.step-title {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 20px 0;
    text-align: center;
    font-size: 26px;
    color: #333333;
    font-weight: 600;
}
.step-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    width: fit-content;
    color: #666666;
    font-size: 18px;
    text-align: center;
}
.steps-title {
    padding-bottom: 40px;
    font-size: 26px;
    color: #333333;
    text-align: center;
    font-weight: 600;
}
.step-img,
.step-figures {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #F8404B;
    font-weight: 600;
    border-radius: 50%;
    margin-bottom: 40px;
}
.step-figures {
    border: 3px solid #333;
}
.step-img::after, 
.step-figures::after {
    content: '';
    position: absolute;
    display: block;
    width: 25%;
    height: 2px;
    background: #E2E2E2;
    right: -12.5%;
}
.step:last-child .step-img::after,
.step:last-child .step-figures::after {
    display: none;
}
/* Footer */
footer {
    background-color: #333333;
}
.footer-top {
    padding: 35px 0;
}
.footer-top img {
    height: 60px;
}
.footer__top_right  {
    display: flex;
    justify-content: flex-end;
}
.footer__top_button {
    padding-left: 22px;
}
.footer__top_button button {
    height: 100%;
    width: 250px;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #F8404B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
}
.footer-bottom {
    border-top: 1px solid #fff;
    padding: 22px 0;
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
}
.footer-bottom-left {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
}
.footer-bottom-right {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: right;
}
.fixed-mobile-btn {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    border: 0;
    align-items: center;
    justify-content: center;
    background-image: url('./img/btn-bg.png');
    background-size: contain;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    z-index: 5;
    background-color: #a6ce39;
}


@media (max-width: 991px) {
    .step-img::after, .step-figures::after { 
        display: none;
    }
    .header__top_select,
    .header__top_left img {
        height: 40px;
    }
    .footer__top_title, .header__top_title {font-size: 14px;}
    .footer__top_tel, .header__top_tel { font-size: 20px;}
    .header__head {
        margin-top: 0;
    }
    .header__desc {
        text-align: center;
        font-size: 24px;
    }
    .header__title {
        font-size: 50px;
        margin-bottom: 0;
    }
    .header__bottom {
        padding-top: 60px;
        padding-right: 15px;
    }
    .header-form {
        margin: 0 auto;
        margin-top: 50px;
    }
    .main__tads>.row {
        flex-wrap: nowrap;
    }
    .main__tabs_item.active {
        min-width: 100%;
    }
    .main__tabs_item {
        display: flex;
        justify-content: center;
        min-width: 300px;
        max-width: 300px;
        white-space: nowrap;
    }
    .main__tabs_item.active div {
        color: #333;
    }
    .main__tabs_item div {
        color: #ADADAD;
        margin: 0 auto;
    }
    .slider-left,
    .slider-right { 
        display: flex;
        cursor: pointer;
    }
    .slider-left {left: 0;}
    .slider-right {right: 0;} 
    .main__tads .row {
        position: relative;
        max-width: 400px;
        margin: 0 auto;
    }
    .main__tabs_item:first-child {
        margin-left: 0px;
    }
    .main {
        overflow-x: hidden;
    }
    .hide {display: none;}
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .step:last-child {
        margin-bottom: 0;
    }
    .step-figures,
    .step-img {
        margin: 0;
        margin-right: 60px;
    }
    .step-num,
    .step-title,
    .step-desc { text-align: left; }
    .step-num { font-size: 16px; }
    .step-title { padding: 0; font-size: 18px; }
    .step-desc br { display: none; }
    .step-desc { width: 400px; font-size: 16px; margin: 0; }
    .footer-top img {
        height: 40px;
    }
    .footer__top_button button {
        width: 200px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    .header__top_select {
        position: absolute;
        top: calc(100% + 20px);
        width: calc(100% - 30px);
        left: 50%;
        margin-left: 0;
        transform: translateX(-50%);
    }
    .header__bottom {
        padding-top: 90px;
    }
    .header-form {
        padding: 30px 30px 40px 30px;
        margin-top: 30px;
    }
    .header-form__title {
        font-size: 24px;
    }
    .header__title {
        font-size: 34px;
    }
    .header__desc {
        font-size: 18px;
    }
    .main__tads .row {
        overflow: hidden;
    }
    .slider-left {
        left: -15px;
    }
    .slider-right {
        right: -15px;
    }
    .step {
        align-items: flex-start;
    }
    .step-img, .step-figures {
        height: 51px;
        width: 51px;
        min-width: 51px;
        min-height: 51px;
        margin-right: 30px;
        font-size: 25px;
    }
    .step-img img {
        height: 100%;
    }
    .step-desc {
        width: 245px;
        max-width: 245px;
    }
    .footer-top img {
        display: block;
        margin: 0 auto;
    }
    .footer__top_right {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .footer__top_title {
        text-align: center;
    }
    .footer__top_button {
        padding-top: 20px;
        padding-left: 0;
    }
    .footer-bottom-right,
    .footer-bottom-left {
        text-align: center;
        font-size: 14px;
    }
    .footer-bottom-left {
        padding-bottom: 20px;
    }
}
@media (max-width: 375px) {
    .header__top_left img {
        height: 30px;
    }
    .main__tabs_item div  {
        font-size: 24px;
    }
    .step-desc {
        max-width: 180px;
        font-size: 15px;
    }
    .footer__top_tel, .header__top_tel {
        font-size: 18px;
    }
    .footer-bottom {
        padding-bottom: 82px;
    }
    .fixed-mobile-btn {
        display: flex;
    }
}